In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Curso Machine Learning_ Introducao a Classificacao - entrada - buscas.csv")

In [3]:
df.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [11]:
x = df[['home', 'busca', 'logado']]
y = df['comprou']

In [12]:
x = pd.get_dummies(x, drop_first=True)

In [13]:
x.head()

   home  logado  busca_java  busca_ruby
0     0       1           0           0
1     0       0           1           0
2     1       0           0           0
3     1       1           0           1
4     1       0           0           1

In [7]:
X = x.values
Y = y.values

In [10]:
# vc precisa desse passo pra devolver pro nayveBayes o role
type(X)

numpy.ndarray