In [1]:
import pandas as pd
import numpy as np

# Sistema de previsao de porcos

In [2]:
# [é gordinho?, tem perninha curta?, faz auau?]

# feature matrix

porco1 =    [1, 1, 0]
porco2 =    [0, 1, 0]
porco3 =    [1, 1, 0]
cachorro4 = [1, 1, 0] #pug
cachorro5 = [0, 1, 1] #salsicha
cachorro6 = [0, 1, 0] #shiba
cachorro7 = [0, 0, 1] #pastor alemao

dados = [porco1, porco2, porco3, cachorro4, cachorro5, cachorro6, cachorro7]

marcacoes = [1, 1, 1, -1, -1, -1, -1]

In [3]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(dados, marcacoes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [4]:
misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
misterioso3 = [1, 0, 1]

teste = [misterioso1, misterioso2, misterioso3]

marcacoes_teste = [-1, 1, 1]

In [5]:
resultado = modelo.predict(teste)

In [6]:
resultado

array([-1,  1, -1])

In [7]:
diferencas = resultado - marcacoes_teste

acertos = [d for d in diferencas if d == 0]

total_de_acertos = len(acertos)
total_de_elementos = len(teste)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(resultado)
print(taxa_de_acerto)

[-1  1 -1]
66.66666666666667

# Previsao de qual aluno vai comprar a assinatura

In [8]:
acessos = pd.read_csv('acesso.csv')

In [9]:
acessos.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [10]:
acessos.shape

(99, 4)

In [11]:
y = acessos['comprou']

In [12]:
acessos.drop('comprou', axis=1, inplace=True)
acessos.head()

   acessou_home  acessou_como_funciona  acessou_contato
0             1                      1                0
1             1                      1                0
2             1                      1                0
3             1                      1                0
4             1                      1                0

### Separando metade pra teste e metade pra treino

In [13]:
half = acessos.shape[0] // 2

x_treino = acessos.iloc[ 0:half , :]
x_teste = acessos.iloc[ half: , :]

In [14]:
# assegurando que nao houve repeticao
display(x_treino.tail(2), '' , x_teste.head(2))

    acessou_home  acessou_como_funciona  acessou_contato
47             1                      0                1
48             1                      1                0

''

    acessou_home  acessou_como_funciona  acessou_contato
49             1                      1                0
50             1                      1                0

In [15]:
y_treino = y[0:half]
y_teste = y[half:]

### Gigantescos passos em direção ao machine learning

In [16]:
modelo2 = MultinomialNB()
modelo2.fit(x_treino, y_treino)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [17]:
previsao = modelo2.predict(x_teste)

In [18]:
from sklearn import metrics

In [19]:
metrics.accuracy_score(y_teste, previsao)

0.94